body {
    font-family: sans-serif;
    margin: 2em;
}

h1 { color: #007f8b; }

.videoView {
    position: relative;
    float: left;
    width: 48%;
    margin: 2% 1%;
    cursor: pointer;
}

video {
    width: 100%;
    display: block;
}

/* This enables the boxes to overlay on the video */
.highlighter {
    background: rgba(0, 255, 0, 0.25);
    border: 1px dashed #fff;
    z-index: 1;
    position: absolute;
}

.p-info {
    z-index: 1;
    position: absolute;
    background-color: #007f8b;
    color: white;
    padding: 2px;
    font-size: 12px;
    margin: 0;
}
